In [251]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
res = requests.get('https://www.iplt20.com/stats/2019')

In [3]:
soup = BeautifulSoup(res.text,'html.parser')

In [17]:
tbl = soup.find('table',class_='standings-table standings-table--full')

In [97]:
tbl

<table class="standings-table standings-table--full">
<tr class="standings-table__header">
<th class="standings-table__freeze"></th>
<th class="u-left-text standings-table__freeze">Team</th>
<th class="standings-table__padded">Pld</th>
<th class="standings-table__optional">Won</th>
<th class="standings-table__optional">Lost</th>
<th class="standings-table__optional">Tied</th>
<th class="standings-table__optional">N/R</th>
<th>Net RR</th>
<th class="standings-table__optional">For</th>
<th class="standings-table__optional">Against</th>
<th>Pts</th>
<th>Form</th>
</tr>
<tr>
<td class="standings-table__qualified standings-table__freeze u-text-center">Q</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 MI"></i>
<a href="/teams/mumbai-indians">
<span class="standings-table__team-name js-team">Mumbai Indians</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">MI</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">9</td>
<td class="standings-table__optional">5</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">0</td>
<td>+0.421</td>
<td class="standings-table__optional">2,380/275.1</td>
<td class="standings-table__optional">2,282/277.2</td>
<td class="standings-table__highlight js-points">18</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--win standings-table__optional">W</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
</ul>
</td>
</tr>
<tr>
<td class="standings-table__qualified standings-table__freeze u-text-center">Q</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 CSK"></i>
<a href="/teams/chennai-super-kings">
<span class="standings-table__team-name js-team">Chennai Super Kings</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">CSK</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">9</td>
<td class="standings-table__optional">5</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">0</td>
<td>+0.131</td>
<td class="standings-table__optional">2,043/274.1</td>
<td class="standings-table__optional">2,012/274.5</td>
<td class="standings-table__highlight js-points">18</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--win standings-table__optional">W</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
</ul>
</td>
</tr>
<tr>
<td class="standings-table__qualified standings-table__freeze u-text-center">Q</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 DC"></i>
<a href="/teams/delhi-capitals">
<span class="standings-table__team-name js-team">Delhi Capitals</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">DC</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">9</td>
<td class="standings-table__optional">5</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">0</td>
<td>+0.044</td>
<td class="standings-table__optional">2,207/272.5</td>
<td class="standings-table__optional">2,238/278.1</td>
<td class="standings-table__highlight js-points">18</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--win standings-table__optional">W</li>
<li class="standings-table__outcome standings-table__outcome--win standings-table__optional">W</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
</ul>
</td>
</tr>
<tr>
<td class="standings-table__qualified standings-table__freeze u-text-center">Q</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 SRH"></i>
<a href="/teams/sunrisers-hyderabad">
<span class="standings-table__team-name js-team">Sunrisers Hyderabad</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">SRH</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">6</td>
<td class="standings-table__optional">8</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">0</td>
<td>+0.577</td>
<td class="standings-table__optional">2,288/269.2</td>
<td class="standings-table__optional">2,200/277.5</td>
<td class="standings-table__highlight js-points">12</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
</ul>
</td>
</tr>
<tr>
<td class="standings-table__freeze u-text-center">5</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 KKR"></i>
<a href="/teams/kolkata-knight-riders">
<span class="standings-table__team-name js-team">Kolkata Knight Riders</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">KKR</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">6</td>
<td class="standings-table__optional">8</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">0</td>
<td>+0.028</td>
<td class="standings-table__optional">2,466/270.4</td>
<td class="standings-table__optional">2,419/266.2</td>
<td class="standings-table__highlight js-points">12</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
</ul>
</td>
</tr>
<tr>
<td class="standings-table__freeze u-text-center">6</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 KXIP"></i>
<a href="/teams/kings-xi-punjab">
<span class="standings-table__team-name js-team">Kings XI Punjab</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">KXIP</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">6</td>
<td class="standings-table__optional">8</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">0</td>
<td>-0.251</td>
<td class="standings-table__optional">2,429/276.3</td>
<td class="standings-table__optional">2,503/277</td>
<td class="standings-table__highlight js-points">12</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
</ul>
</td>
</tr>
<tr>
<td class="standings-table__freeze u-text-center">7</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 RR"></i>
<a href="/teams/rajasthan-royals">
<span class="standings-table__team-name js-team">Rajasthan Royals</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">RR</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">5</td>
<td class="standings-table__optional">8</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">1</td>
<td>-0.449</td>
<td class="standings-table__optional">2,153/257</td>
<td class="standings-table__optional">2,192/248.2</td>
<td class="standings-table__highlight js-points">11</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--loss standings-table__optional">L</li>
<li class="standings-table__outcome standings-table__outcome--win standings-table__optional">W</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
<li class="standings-table__outcome">N</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
</ul>
</td>
</tr>
<tr>
<td class="standings-table__freeze u-text-center">8</td>
<td class="standings-table__team standings-table__freeze">
<i class="table__logo tLogo40x32 RCB"></i>
<a href="/teams/royal-challengers-bangalore">
<span class="standings-table__team-name js-team">Royal Challengers Bangalore</span>
<span class="standings-table__team-name standings-table__team-name--short js-team">RCB</span>
</a>
</td>
<td class="standings-table__padded">14</td>
<td class="standings-table__optional">5</td>
<td class="standings-table__optional">8</td>
<td class="standings-table__optional">0</td>
<td class="standings-table__optional">1</td>
<td>-0.607</td>
<td class="standings-table__optional">2,146/258.4</td>
<td class="standings-table__optional">2,266/254.3</td>
<td class="standings-table__highlight js-points">11</td>
<td> <ul class="standings-table__form">
<li class="standings-table__outcome standings-table__outcome--win standings-table__optional">W</li>
<li class="standings-table__outcome standings-table__outcome--win standings-table__optional">W</li>
<li class="standings-table__outcome standings-table__outcome--loss">L</li>
<li class="standings-table__outcome">N</li>
<li class="standings-table__outcome standings-table__outcome--win">W</li>
</ul>
</td>
</tr>
</table>

In [201]:
col_names1 = [x.get_text() for x in tbl.find_all('th',class_="standings-table__padded")]

In [202]:
col_names1

['Pld']

In [121]:
col_names =[x.get_text() for x in tbl.find_all('th',class_="standings-table__optional")]

In [122]:
col_names

['Won', 'Lost', 'Tied', 'N/R', 'For', 'Against']

In [105]:
col_names[4]='net_rate'

In [238]:
team_names = [x.get_text() for x in tbl.find_all('span',class_="standings-table__team-name")]

In [239]:
team_names[0::2]

['Mumbai Indians',
 'Chennai Super Kings',
 'Delhi Capitals',
 'Sunrisers Hyderabad',
 'Kolkata Knight Riders',
 'Kings XI Punjab',
 'Rajasthan Royals',
 'Royal Challengers Bangalore']

In [203]:
pnt_tbl1 = [x.get_text() for x in tbl.find_all('td',class_="standings-table__padded")]

In [210]:
pnt_tbl1

['14', '14', '14', '14', '14', '14', '14', '14']

In [126]:
pnt_tbl = [x.get_text() for x in tbl.find_all('td',class_="standings-table__optional")]

In [253]:
pnt_tbl

['9',
 '5',
 '0',
 '0',
 '2,380/275.1',
 '2,282/277.2',
 '9',
 '5',
 '0',
 '0',
 '2,043/274.1',
 '2,012/274.5',
 '9',
 '5',
 '0',
 '0',
 '2,207/272.5',
 '2,238/278.1',
 '6',
 '8',
 '0',
 '0',
 '2,288/269.2',
 '2,200/277.5',
 '6',
 '8',
 '0',
 '0',
 '2,466/270.4',
 '2,419/266.2',
 '6',
 '8',
 '0',
 '0',
 '2,429/276.3',
 '2,503/277',
 '5',
 '8',
 '0',
 '1',
 '2,153/257',
 '2,192/248.2',
 '5',
 '8',
 '0',
 '1',
 '2,146/258.4',
 '2,266/254.3']

In [83]:
len(pnt_tbl)

48

In [54]:
import numpy as np

In [183]:
np_pnt_tbl = (np.array(pnt_tbl)).reshape(len(team_names[0::2]),6)

In [175]:
#np_pnt_tbl  =np.delete(np_pnt_tbl,5,1)

In [184]:
np_pnt_tbl

array([['9', '5', '0', '0', '2,380/275.1', '2,282/277.2'],
       ['9', '5', '0', '0', '2,043/274.1', '2,012/274.5'],
       ['9', '5', '0', '0', '2,207/272.5', '2,238/278.1'],
       ['6', '8', '0', '0', '2,288/269.2', '2,200/277.5'],
       ['6', '8', '0', '0', '2,466/270.4', '2,419/266.2'],
       ['6', '8', '0', '0', '2,429/276.3', '2,503/277'],
       ['5', '8', '0', '1', '2,153/257', '2,192/248.2'],
       ['5', '8', '0', '1', '2,146/258.4', '2,266/254.3']], dtype='<U11')

In [64]:
import pandas as pd

In [259]:
consol_tbl = pd.DataFrame(np_pnt_tbl,index=team_names[0::2],columns=col_names)

In [260]:
consol_tbl

                            Won Lost Tied N/R          For      Against
Mumbai Indians                9    5    0   0  2,380/275.1  2,282/277.2
Chennai Super Kings           9    5    0   0  2,043/274.1  2,012/274.5
Delhi Capitals                9    5    0   0  2,207/272.5  2,238/278.1
Sunrisers Hyderabad           6    8    0   0  2,288/269.2  2,200/277.5
Kolkata Knight Riders         6    8    0   0  2,466/270.4  2,419/266.2
Kings XI Punjab               6    8    0   0  2,429/276.3    2,503/277
Rajasthan Royals              5    8    0   1    2,153/257  2,192/248.2
Royal Challengers Bangalore   5    8    0   1  2,146/258.4  2,266/254.3

In [261]:
consol_tbl.columns.name='Team'

In [262]:
consol_tbl

Team                        Won Lost Tied N/R          For      Against
Mumbai Indians                9    5    0   0  2,380/275.1  2,282/277.2
Chennai Super Kings           9    5    0   0  2,043/274.1  2,012/274.5
Delhi Capitals                9    5    0   0  2,207/272.5  2,238/278.1
Sunrisers Hyderabad           6    8    0   0  2,288/269.2  2,200/277.5
Kolkata Knight Riders         6    8    0   0  2,466/270.4  2,419/266.2
Kings XI Punjab               6    8    0   0  2,429/276.3    2,503/277
Rajasthan Royals              5    8    0   1    2,153/257  2,192/248.2
Royal Challengers Bangalore   5    8    0   1  2,146/258.4  2,266/254.3

In [263]:
Pld = pnt_tbl1

In [264]:
consol_tbl.insert(0,'Pld',Pld)

In [230]:
consol_tbl

Team                        Pld Won Lost Tied N/R          For      Against
Mumbai Indians               14   9    5    0   0  2,380/275.1  2,282/277.2
Chennai Super Kings          14   9    5    0   0  2,043/274.1  2,012/274.5
Delhi Capitals               14   9    5    0   0  2,207/272.5  2,238/278.1
Sunrisers Hyderabad          14   6    8    0   0  2,288/269.2  2,200/277.5
Kolkata Knight Riders        14   6    8    0   0  2,466/270.4  2,419/266.2
Kings XI Punjab              14   6    8    0   0  2,429/276.3    2,503/277
Rajasthan Royals             14   5    8    0   1    2,153/257  2,192/248.2
Royal Challengers Bangalore  14   5    8    0   1  2,146/258.4  2,266/254.3

In [265]:
Pts = [18,18,18,12,12,12,11,11]

In [266]:
consol_tbl.insert(7,'Pts',Pts)

In [269]:
consol_tbl

Team,Pld,Won,Lost,Tied,N/R,For,Against,Pts
Mumbai Indians,14,9,5,0,0,"2,380/275.1","2,282/277.2",18
Chennai Super Kings,14,9,5,0,0,"2,043/274.1","2,012/274.5",18
Delhi Capitals,14,9,5,0,0,"2,207/272.5","2,238/278.1",18
Sunrisers Hyderabad,14,6,8,0,0,"2,288/269.2","2,200/277.5",12
Kolkata Knight Riders,14,6,8,0,0,"2,466/270.4","2,419/266.2",12
Kings XI Punjab,14,6,8,0,0,"2,429/276.3","2,503/277",12
Rajasthan Royals,14,5,8,0,1,"2,153/257","2,192/248.2",11
Royal Challengers Bangalore,14,5,8,0,1,"2,146/258.4","2,266/254.3",11

In [270]:
consol_tbl.to_csv("ipl_2019_Points_table.csv")